@font-face {
  font-family: Vazir;
  src: url(../Public/Fonts/Vazir.woff2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../Public/Images/1s.png);
  background-repeat: no-repeat;
  cursor: url('../Public/Icons/icons8-select-cursor-48.png'), auto;
}
a {
  text-decoration: none;
  cursor: url('../Public/Icons/icons8-hand-cursor-50-2.png'),auto;
}
input{
  cursor: url('../Public/Icons/icons8-text-cursor-50.png'),auto;

}
li {
  list-style: none;
}

header {
  max-width: 90%;
  height: 100px;
  background-color: aliceblue;
  border-radius: 20px;
  margin: 30px auto;
}
.header-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.logo > img {
  width: 50px;
}
.menu {
  width: 50%;
}
.menu > ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.menu > ul > li > a {
  font-size: 20px;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: #fff;
  padding: 5px;
  max-width: 250px;
}
.search-bar > input::placeholder {
  color: rgb(45, 42, 42);
}
.search-bar > input {
  display: none;
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
  height: 100%;
  font-size: 20px;
}
.search-bar > input.active {
  display: block;
}
.search-bar > svg {
  width: 40px;
}
/* ________________ Main _________________ */
main {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 20rem;
}
.project-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 240px;
  height: 300px;
  border-top-right-radius: 20px;
  padding: 10px 0 0 0;
  transition: transform 1s ease-in-out;
  transform-origin: center;
}
.project-container>a {
  width: 100%;
  text-align: center;
  background-image:linear-gradient(to right,#EEAECA,#94BBE9);
  color: #fff;
}
.project-container:hover {
  box-shadow: 0 0 9px 5px #14eeffb3;
}
.project-container:hover {
  /* box-shadow: 0 0 9px 5px #14eeffb3; */
  animation: spin 1s forwards alternate;
}

@keyframes spin {
  from {
    transform: rotatey(10);
  }
  to {
    transform: rotatey(30deg);
  }

}



.title {
  height: 10%;
}
.description {
  height: 20%;
}
.description > p {
  text-align: center;
}
.image-proview {
  width: 100%;
  height: 70%;
}
.image-proview > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-container > img {
  width: 100%;
  height: 256px;
  object-fit: cover;
}
.project-container > p {
  padding: 5px;
  text-align: center;
}
